.AboutSection {
  position: relative;
  min-height: 100vh;
  width: 80vw;
  display: flex;

  margin: 0 auto;

  @media (max-width: 48em) {
    width: 90vw;
  }
  @media (max-width: 30em) {
    width: 100vw;
  }

  .title {
    font-size: $fontBig;
    font-family: 'Kaushan Script';
    font-weight: 300;
    position: absolute;
    top: 1rem;
    left: 5%;
    z-index: 5;

    @media (max-width: 64em) {
      font-size: calc($fontBig - 5vw);
      top: 0;
      left: 0;
    }

    @media (max-width: 48em) {
      font-size: $fontxxxl;
    }
  }

  .left {
    width: 50%;
    font-size: $fontlg;
    font-weight: 300;
    position: relative;
    z-index: 5;
    margin-top: 20%;

    @media (max-width: 64em) {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      margin: 0 auto;

      padding: 2rem;
      font-weight: 600;

      backdrop-filter: blur(2px);
      background-color: rgba($textRgba, 0.4);
      border-radius: 20px;
    }

    @media (max-width: 48em) {
      font-size: $fontmd;
    }
    @media (max-width: 30em) {
      font-size: $fontsm;
      width: 70%;
    }
  }

  .right {
    width: 50%;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }

    .small-img-1 {
      width: 40%;
      position: absolute;
      right: 95%;
      bottom: 10%;
    }
    .small-img-2 {
      width: 40%;
      position: absolute;
      left: 80%;
      bottom: 30%;
    }

    @media (max-width: 64em) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100vh;
        object-fit: cover;
      }
      .small-img-1 {
        width: 30%;
        height: auto;
        left: 5%;
        bottom: 10%;
      }
      .small-img-2 {
        width: 30%;
        height: auto;
        left: 60%;
        bottom: 20%;
      }
    }
  }
}
